.benefits {
  background: linear-gradient(0.98deg, var(--color-orange) 71.89%, rgba(255, 255, 255, 0) 96.28%);

  &__container {
    max-width: 1198px;
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    letter-spacing: 1.1px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);
  }

  &__sliders {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 97px;
  }

  &__slider {
    width: 32%;
  }
}

.slider {
  &__list {
    margin-top: 40px;
    padding-left: 10px;
  }

  &__item {
    margin-bottom: 28px;
    padding: 5px 0 5px 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: var(--color-white);
    background: url("../img/check.svg") no-repeat left top;
  }
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
}

.swiper-button-next {
  opacity: 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev {
  opacity: 0;
}

.swiper-button-prev:hover {
  opacity: 1;
}

ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.swiper-container {
  max-width: 100%;
}

.swiper-container img {
  width: 100%;
  height: auto;
}

//.swiper-slide {
//  width: 80%;
//}

/* Swiper custom pagination */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #d5d5d5;
  opacity: 1;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.swiper-pagination-bullet:hover {
  color: var(--color-white);
  background: rgba(0, 0, 0, 1);
  transition: background-color 0.5s ease;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--color-black);
}
