.benefits {
  background: linear-gradient(0.98deg, var(--color-orange) 51%, rgba(255, 255, 255, 0) 90%);

  &__container {
    padding-top: 28px;
    padding-bottom: 0;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);
  }

  &__sliders {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 72px auto 0;
  }

  &__slider {
    width: 32%;
  }
}

.slider {
  &__list {
    margin-top: 24px;
    padding-left: 15px;
  }

  &__item {
    margin-bottom: 25px;
    padding: 5px 0 5px 55px;
    min-height: 90px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-white);
    background: url("../img/check.svg") no-repeat left top;
  }

  &__pagination {
    position: relative;
    margin-top: 30px;

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

.swiper-container-horizontal > .slider__pagination .swiper-pagination-bullet {
  margin: 0 7px;
}

.swiper-button-next {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}

.swiper-button-prev:hover {
  opacity: 1;
}

ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.swiper-container {
  max-width: 100%;
}

.swiper-container img {
  width: 100%;
  height: auto;
}

//.swiper-slide {
//  width: 80%;
//}

/* Swiper custom pagination */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #d5d5d5;
  opacity: 1;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.swiper-pagination-bullet:hover {
  color: var(--color-white);
  background: rgba(0, 0, 0, 1);
  transition: background-color 0.5s ease;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--color-black);
}
