.gallery {
  background-color: var(--color-orange);

  &__container {
    margin-top: -2px;
    padding-top: 17px;
    padding-bottom: 410px;
    background-image: url("../img/background.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title {
    margin: 0 0 36px;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 1.1px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  }
}

.gallery-slider {
  position: relative;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
  max-width: 1825px;

  &__slider {
    max-width: 1645px;

    .swiper-slide {
      max-width: 1645px;
      max-height: 860px;
    }
  }

  &__prev {
    position: absolute;
    left: 0;
    top: 50%;
    width: 55px;
    height: 55px;
    background: url("../img/arrow.svg") no-repeat center;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__next {
    position: absolute;
    right: 0;
    top: 50%;
    width: 55px;
    height: 55px;
    background: url("../img/arrow.svg") no-repeat center;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
  }

  &__pagination {
    position: absolute;
    left: 50%;
    bottom: -220px;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      margin: 0 14px;
      width: 31px;
      height: 31px;
    }
  }
}
