.header {
  &__container {
    position: relative;
    padding-top: 243px;
    padding-bottom: 44px;
    background: url("../img/logo.png") no-repeat center 78px;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);
  }

  &__list {
    position: absolute;
    right: 30px;
    top: 45px;
  }
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    font-size: 26px;
    text-transform: uppercase;

    &--active {
      font-weight: 700;
    }
  }

  &__link:first-child {
    margin-right: 10px;
  }
}
