.header {
  &__container {
    position: relative;
    padding-top: 225px;
    padding-bottom: 77px;
    background: url("../img/logo.png") no-repeat center 36px;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);

    @include mobile {
      font-size: 28px;
    }
  }

  &__list {
    position: absolute;
    right: 32px;
    top: 42px;
  }
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    font-size: 20px;
    text-transform: uppercase;

    &--active {
      font-weight: 700;
    }
  }

  &__link:first-child {
    margin-right: 10px;
  }
}
