.video {
  &__container {
    padding-bottom: 53px;
  }

  &__main-video {
    margin-bottom: 66px;
    width: 100%;

    .vjs-poster {
      height: 100%;
      background-color: var(--color-white);

      &::before {
        content: "RENAULT DUSTER ";
        position: absolute;
        right: 50%;
        bottom: 9%;
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
        font-weight: 400;
        font-size: 36px;
        letter-spacing: 1px;
        text-align: center;
        transform: translateX(50%);

        @include tablet {
          font-size: 26px;
        }

        @include mobile {
          font-size: 16px;
        }
      }

      &::after {
        content: "New vs. Old";
        position: absolute;
        right: 50%;
        bottom: 18%;
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
        font-weight: 400;
        font-size: 36px;
        letter-spacing: 1px;
        text-align: center;
        transform: translateX(50%);

        @include tablet {
          font-size: 26px;
        }

        @include mobile {
          font-size: 16px;
          line-height: 19.5px;
        }
      }
    }

    @include mobile {
      margin-bottom: 18px;
    }
  }

  &__subvideo {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &__video {
    width: 100%;
  }
}

.subvideo {
  &__video {
    width: 45%;

    &:first-child {
      margin-right: 5%;

      @include mobile {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    @include mobile {
      width: 100%;

    }
  }

  @include mobile {
    height: 100%;
  }
}

.left_video-dimensions.vjs-fluid,
.right_video-dimensions.vjs-fluid {
  padding-top: 26.6%;

  @include mobile {
    padding-top: 56.6%;
  }
}

#left_video {
  .vjs-poster {
    &::before {
      content: "video commercial";
      position: absolute;
      right: 50%;
      bottom: 1%;
      padding-right: 30px;
      padding-left: 30px;
      width: 100%;
      min-height: 50px;
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      transform: translateX(50%);

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 16px;
        line-height: 19.5px;
      }
    }

    &::after {
      content: "The New RENAULT DUSTER";
      position: absolute;
      right: 50%;
      bottom: 10%;
      padding-right: 30px;
      padding-left: 30px;
      width: 100%;
      min-height: 50px;
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      transform: translateX(50%);

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 19.5px;
      }
    }
  }
}

#right_video {
  .vjs-poster {
    &::before {
      content: "“Big Test Drive”";
      position: absolute;
      right: 50%;
      bottom: 1%;
      padding-right: 30px;
      padding-left: 30px;
      width: 100%;
      min-height: 50px;
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      transform: translateX(50%);

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 16px;
        line-height: 19.5px;
      }
    }

    &::after {
      content: "The New RENAULT DUSTER";
      position: absolute;
      right: 50%;
      bottom: 10%;
      padding-right: 30px;
      padding-left: 30px;
      width: 100%;
      min-height: 50px;
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
      letter-spacing: 1px;
      text-align: center;
      transform: translateX(50%);

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 19.5px;
      }
    }
  }
}

.vjs-poster {
  height: 100%;
  background-color: var(--color-white);
}

button:focus {
  outline: none;
  box-shadow: none;
}

video:focus {
  outline: none;
  box-shadow: none;
}

.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {
  display: block;
}

.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
  display: block;
}

.video-js .vjs-remaining-time,
.vjs-no-flex .vjs-current-time {
  display: none;
}

.vjs-live .vjs-time-control {
  display: block;
}

.vjs-time-divider {
  display: block;
}

.vjs-resolution-button .vjs-icon-placeholder:before {
  z-index: 2;
  opacity: 0;
}

.vjs-resolution-button-label {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
}

.video-js .vjs-big-play-button {
  opacity: 0;
}
