<section class="benefits">
  <div class="container benefits__container">
    <h2 class="benefits__title">Ключевые преимущества нового Renault Duster</h2>
    <div class="benefits__sliders">
      <div class="benefits__slider slider">
        <div class="swiper-container swiper-container1 slider__container">
          <ul class="swiper-wrapper my-gallery my-gallery1" itemscope itemtype="http://schema.org/ImageGallery">
            <li id="1" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a id="first" title="click to zoom-in" href="./img/gallery 1/1.jpg" itemprop="contentUrl"
                 data-size="1920x1080">
                <img src="./img/gallery 1/1-thumb.jpg" itemprop="thumbnail" alt="Image description"/>
              </a>
            </li>
            <li id="2" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a title="click to zoom-in" href="./img/gallery 1/2.jpg"
                 itemprop="contentUrl" data-size="1920x1280">
                <img src="./img/gallery 1/2-thumb.jpg" itemprop="thumbnail"
                     alt="Image description"/>
              </a>
            </li>
            <li id="3" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a title="click to zoom-in" href="./img/gallery 1/3.jpg"
                 itemprop="contentUrl" data-size="1920x1080">
                <img src="./img/gallery 1/3-thumb.jpg"
                     alt="Image description"/>
              </a>
            </li>
            <li id="4" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a title="click to zoom-in" href="./img/gallery 1/4.jpg"
                 itemprop="contentUrl" data-size="1920x1280">
                <img src="./img/gallery 1/4-thumb.jpg" itemprop="thumbnail"
                     alt="Image description"/>
              </a>
            </li>
          </ul>

          <div class="swiper-pagination slider__pagination"></div>

          <div title="Prev" class="swiper-button-prev"></div>
          <div title="Next" class="swiper-button-next"></div>
        </div>

        <ul class="slider__list">
          <li class="slider__item">Уникальная внедорожная геометрия</li>
          <li class="slider__item">Надежный полный привод 4х4</li>
          <li class="slider__item">Новые опции для бездорожья:</li>
          <li class="slider__item">Монитор 4х4</li>
          <li class="slider__item">Ассистент спуска с горы</li>
          <li class="slider__item">Система камер кругового обзора</li>
        </ul>

        <div class="pswp pswp1" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="pswp__bg"></div>
          <div class="pswp__scroll-wrap">
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div>
              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>
              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>
              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="benefits__slider slider">
        <div class="swiper-container swiper-container2 slider__container">
          <ul class="swiper-wrapper my-gallery my-gallery2" itemscope itemtype="http://schema.org/ImageGallery">
            <li id="6" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a id="six" title="click to zoom-in" href="./img/gallery 2/1.jpeg" itemprop="contentUrl"
                 data-size="1920x1440">
                <img src="./img/gallery 2/1-thumb.jpeg" itemprop="thumbnail" alt="Image description"/>
              </a>
            </li>
            <li id="7" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a title="click to zoom-in" href="./img/gallery 2/2.png"
                 itemprop="contentUrl" data-size="1920x1280">
                <img src="./img/gallery 2/2-thumb.png" itemprop="thumbnail"
                     alt="Image description"/>
              </a>
            </li>
            <li id="8" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a title="click to zoom-in" href="./img/gallery 2/3.jpg"
                 itemprop="contentUrl" data-size="1920x1440">
                <img src="./img/gallery 2/3-thumb.jpg" itemprop="thumbnail"
                     alt="Image description"/>
              </a>
            </li>
            <li id="9" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a title="click to zoom-in" href="./img/gallery 2/4.jpg"
                 itemprop="contentUrl" data-size="1920x1440">
                <img src="./img/gallery 2/4-thumb.jpg" itemprop="thumbnail"
                     alt="Image description"/>
              </a>
            </li>
          </ul>

          <div class="swiper-pagination slider__pagination"></div>
          <div title="Prev" class="swiper-button-prev"></div>
          <div title="Next" class="swiper-button-next"></div>
        </div>
        <ul class="slider__list">
          <li class="slider__item">Внедорожная версия</li>
          <li class="slider__item">Расширители арок и молдинги</li>
          <li class="slider__item">Черные 16-дюймовые диски</li>
          <li class="slider__item">Светодиодные ходовые огни</li>
          <li class="slider__item">Новая максимальная версия</li>
          <li class="slider__item">17-дюймовые двухцветные диски</li>
          <li class="slider__item">Хромированная решетка</li>
          <li class="slider__item">Мультимедийный экран 8" Easylink</li>
        </ul>
        <div class="pswp pswp2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="pswp__bg"></div>
          <div class="pswp__scroll-wrap">
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div>
              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>
              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>
              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="benefits__slider slider">
        <div class="swiper-container swiper-container3 slider__container">
          <ul class="swiper-wrapper my-gallery my-gallery3" itemscope itemtype="http://schema.org/ImageGallery">
            <li id="11" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a id="eleven" title="click to zoom-in" href="./img/gallery 3/1.jpg"
                 itemprop="contentUrl"
                 data-size="1920x1280">
                <img src="./img/gallery 3/1-thumb.jpg" itemprop="thumbnail" alt="Image description"/>
              </a>
            </li>
            <li id="12" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a title="click to zoom-in" href="./img/gallery 3/2.jpg"
                 itemprop="contentUrl" data-size="1920x1280">
                <img src="./img/gallery 3/2-thumb.jpg" itemprop="thumbnail"
                     alt="Image description"/>
              </a>
            </li>
            <li id="13" class="swiper-slide" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
              <a title="click to zoom-in" href="./img/gallery 3/3.jpg"
                 itemprop="contentUrl" data-size="1920x1280">
                <img src="./img/gallery 3/3-thumb.jpg" itemprop="thumbnail"
                     alt="Image description"/>
              </a>
            </li>
          </ul>

          <div class="swiper-pagination slider__pagination"></div>
          <div title="Prev" class="swiper-button-prev"></div>
          <div title="Next" class="swiper-button-next"></div>
        </div>
        <ul class="slider__list">
          <li class="slider__item">Адаптация к холодному климату</li>
          <li class="slider__item">Подогрев всех сидений, руля, ветрового стекла с форсунками</li>
          <li class="slider__item">Аккумулятор повышенной ёмкости и электрический доп. отопитель</li>
          <li class="slider__item">Адаптация к дорожным условиям</li>
          <li class="slider__item">Энергоемкая подвеска</li>
          <li class="slider__item">Металлическая защита картера</li>
          <li class="slider__item">Брызговики</li>
        </ul>
        <div class="pswp pswp3" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="pswp__bg"></div>
          <div class="pswp__scroll-wrap">
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
              </div>
              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>
              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>
              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
