<section class="form-section">
  <div class="container form-section__container">
    <h2 class="form-section__title">Презентация нового Renault Duster 2021</h2>
    <form class="form">
      <label for="name" class="form__label">
        <input type="text" id="name" name="name" class="form__input" placeholder="ФИО" required>
      </label>
      <label for="email" class="form__label">
        <input type="email" id="email" name="email" class="form__input" placeholder="E-mail" required>
      </label>
      <label for="checkbox">
        <input type="checkbox" id="checkbox" class="form__checkbox" name="checkbox" required>
        Даю согласие на обработку персональных данных
      </label>
      <button type="submit" class="form__button btn-reset">Продолжить</button>
    </form>
  </div>
</section>
