<section class="form-section">
  <div class="form-section__container container">
    <h2 class="form-section__title">PRESENTATION OF THE NEW <span class="renault">RENAULT DUSTER</span></h2>
    <ul class="header__list languages">
      <li class="languages__item"><a href='/' class="languages__link">рус</a></li>
      <li class="languages__item"><span class="languages__link languages__link--active">| eng</span></li>
    </ul>
    <form class="form">
      <label for="name" class="form__label">
        <input type="text" id="name" name="name" class="form__input" placeholder="Full name " required>
      </label>
      <label for="email" class="form__label">
        <input type="email" id="email" name="email" class="form__input" placeholder="E-mail" required>
      </label>
      <div class="form__checkbox-container">
        <input type="checkbox" id="checkbox" class="form__checkbox" name="checkbox" required>
        <label class="form__agreement" for="checkbox">I hereby consent to the processing of the personal data that I have provided</label>
      </div>
      <button type="submit" class="form__button btn-reset">Continue</button>
    </form>
  </div>
</section>
