<section class="gallery">
  <div class=" gallery__container">
    <h2 class="gallery__title">Галерея</h2>
    <div class="gallery__slider gallery-slider">
      <div title="Prev" class="gallery-slider__prev"></div>
      <div class="swiper-container swiper-container4 gallery-slider__slider ">

        <ul class="swiper-wrapper my-gallery my-gallery4" itemscope itemtype="http://schema.org/ImageGallery">
          <li id="11" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a id="eleven" title="click to zoom-in" href="https://picsum.photos/seed/picsum/1200/600"
               itemprop="contentUrl"
               data-size="1200x600">
              <img src="https://picsum.photos/seed/picsum/1200/600" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="12" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a title="click to zoom-in" href="http://placehold.it/1200x601/AB47BC/ffffff?text=Zoom-image-2"
               itemprop="contentUrl" data-size="1200x601">
              <img src="http://placehold.it/600x300/AB47BC/ffffff?text=Thumbnail-image-2" itemprop="thumbnail"
                   alt="Image description"/>
            </a>
          </li>
          <li id="13" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a title="click to zoom-in" href="http://placehold.it/1200x600/EF5350/ffffff?text=Zoom-image-3"
               itemprop="contentUrl" data-size="1200x600">
              <img src="http://placehold.it/600x300/EF5350/ffffff?text=Thumbnail-image-3" itemprop="thumbnail"
                   alt="Image description"/>
            </a>
          </li>
          <li id="14" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a title="click to zoom-in" href="http://placehold.it/1200x600/1976D2/ffffff?text=Zoom-image-4"
               itemprop="contentUrl" data-size="1200x600">
              <img src="http://placehold.it/600x300/1976D2/ffffff?text=Thumbnail-image-4" itemprop="thumbnail"
                   alt="Image description"/>
            </a>
          </li>
          <li id="15" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a title="click to zoom-in" href="https://picsum.photos/id/1011/1200/600" itemprop="contentUrl"
               data-size="1200x600">
              <img src="https://picsum.photos/id/1011/1200/600" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
        </ul>

        <div class="swiper-pagination gallery-slider__pagination"></div>
      </div>
      <div title="Next" class="gallery-slider__next"></div>
      <div class="pswp pswp4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <div class="pswp__counter"></div>
              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
              <button class="pswp__button pswp__button--share" title="Share"></button>
              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
