<section class="gallery">
  <div class=" gallery__container">
    <h2 class="gallery__title">Галерея</h2>
    <div class="gallery__slider gallery-slider">
      <div title="Prev" class="gallery-slider__prev"></div>
      <div class="swiper-container swiper-container4 gallery-slider__slider ">

        <ul class="swiper-wrapper my-gallery my-gallery4" itemscope itemtype="http://schema.org/ImageGallery">
          <li id="11" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a id="eleven" title="click to zoom-in" href="./img/gallery 4/beauty/1.jpg"
               itemprop="contentUrl"
               data-size="1920x1280">
              <img src="./img/gallery 4/beauty/1.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="12" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/beauty/2.jpg"
               itemprop="contentUrl"
               data-size="1920x1280">
              <img src="./img/gallery 4/beauty/2.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="13" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a title="click to zoom-in" href="./img/gallery 4/beauty/3.jpg"
               itemprop="contentUrl"
               data-size="1920x1280">
              <img src="./img/gallery 4/beauty/3.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="14" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/beauty/4.jpg"
               itemprop="contentUrl"
               data-size="1920x1280">
              <img src="./img/gallery 4/beauty/4.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="15" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/beauty/5.jpg"
               itemprop="contentUrl"
               data-size="1920x1280">
              <img src="./img/gallery 4/beauty/5.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="16" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/beauty/6.jpg"
               itemprop="contentUrl"
               data-size="1920x1280">
              <img src="./img/gallery 4/beauty/6.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="17" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/beauty/7.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/beauty/7.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="18" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/beauty/8.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/beauty/8.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="19" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/beauty/9.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/beauty/9.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="20" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/1.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/1.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="21" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/2.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/2.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="22" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/3.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/3.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="23" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/4.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/4.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="24" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/5.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/5.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="25" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/6.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/6.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="26" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/7.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/7.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="27" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/8.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/8.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="28" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/9.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/9.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="29" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/10.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/10.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="30" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/11.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/11.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="31" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/exterior/12.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/exterior/12.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="32" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/1.jpg"
                itemprop="contentUrl"
                data-size="1920x1492">
              <img src="./img/gallery 4/interior/1.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="33" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/2.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/2.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="34" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/3.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/3.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="35" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/4.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/4.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="36" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/5.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/interior/5.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="37" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/6.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/interior/6.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="38" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/7.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/7.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="39" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/8.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/8.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="40" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/9.jpg"
                itemprop="contentUrl"
                data-size="1920x1440">
              <img src="./img/gallery 4/interior/9.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="41" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/10.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/10.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="42" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/11.jpeg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/11.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="43" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/12.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/12.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="44" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/13.jpeg"
                itemprop="contentUrl"
                data-size="1920x1299">
              <img src="./img/gallery 4/interior/13.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="45" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/14.jpg"
                itemprop="contentUrl"
                data-size="1920x1022">
              <img src="./img/gallery 4/interior/14.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="46" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/15.jpeg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/15.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="47" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/16.jpeg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/16.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="48" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/17.jpeg"
                itemprop="contentUrl"
                data-size="1920x2880">
              <img src="./img/gallery 4/interior/17.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="49" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/18.jpeg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/18.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="50" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/19.jpeg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/19.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="51" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/20.jpeg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/20.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="52" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/21.jpeg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/21.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="53" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/22.jpeg"
                itemprop="contentUrl"
                data-size="1920x1267">
              <img src="./img/gallery 4/interior/22.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="54" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/23.jpeg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/23.jpeg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="55" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/interior/24.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/interior/24.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="56" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/1.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/1.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="57" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/2.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/2.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="57" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/3.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/3.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="58" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/4.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/4.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="59" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/5.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/5.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="60" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/6.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/6.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="61" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/7.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/7.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="62" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/8.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/8.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
          <li id="63" class="swiper-slide" itemprop="associatedMedia" itemscope
              itemtype="http://schema.org/ImageObject">
            <a  title="click to zoom-in" href="./img/gallery 4/lifestyle/9.jpg"
                itemprop="contentUrl"
                data-size="1920x1280">
              <img src="./img/gallery 4/lifestyle/9.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
          </li>
        </ul>

<!--        <div class="swiper-pagination gallery-slider__pagination"></div>-->
      </div>
<!--      <div class="swiper-pagination gallery-slider__pagination"></div>-->
      <div title="Next" class="gallery-slider__next"></div>
      <div class="pswp pswp4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <div class="pswp__counter"></div>
              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
              <button class="pswp__button pswp__button--share" title="Share"></button>
              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
