<section class="video">
  <div class="container video__container">
    <div class="video__main-video main-video">
      <video id='main_video'
             class="video-js vjs-fluid video__video main-video__video vjs-default-skin"></video>
    </div>
    <div class="video__subvideo subvideo">
      <video id='left_video' class="video-js vjs-fluid video__video subvideo__video vjs-default-skin"></video>
      <video id='right_video'
             class="video-js vjs-fluid video__video subvideo__video vjs-default-skin"></video>
    </div>
  </div>
</section>


